<link rel="stylesheet" href="/styles/header.css">

<div id="header-main">
  
        <h1>
            <a href="/">
            <i class="fa-solid fa-file-csv"></i>
            CSV Uploader
        </a>
        </h1>
  
   
</div>
