$primary-color : #463820;
$secondry-color: bcc4bb;

body{
    margin: 0;
    #header-main{
        font-family: sans-serif;
        background-color: $primary-color;
        color: $secondry-color;
        height: 8%;
        h1{
            padding: 10px;
            a{
                text-decoration: none;
                color: $secondry-color;
            }
        }
    }
    
}